<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <h3> 登录 </h3>
    <div class="row">
      <label class="" for="">
        用户名
      </label>
      <input type="text" v-model="username">
    </div>
    <div class="row">
      <label class="" for="">
        密码
      </label>
      <input type="password" v-model="password">
    </div>
    <div class="row">
      <button @click="login"> 登录 </button>
    </div>
  </div>
</body>
<script src="../../dep/vue.js"></script>
<script>
  const baseURL = 'http://59.110.226.77:3000/api'
  new Vue({
    el: '#app',
    data: {
      username: '',
      password: ''
    },
    methods: {
      login () {
        var p = new URLSearchParams() 
        p.append('username',this.username)
        p.append('password',this.password)
         axios.post(`${baseURL}/user/login`,p,{
           headers: {
             'Content-Type': 'application/x-www-form-urlencoded'
           }
         }).then(res => {
           console.log('res',res)
         }).catch(error=> Promise.reject(error))
        console.log('p',p)
        // axios({
        //   url: `${baseURL}/user/login`,
        //   method: 'POST',
        //   data: p,
        //   headers: {
        //      'Content-Type': 'application/x-www-form-urlencoded'
        //    }
        // }).then(res => {
        //    console.log('res',res)
        //  }).catch(error=> Promise.reject(error))
      }
    }
  })
</script>
</html>